{
    "openapi": "3.0.0",
    "info":
        {
            "title": "REST API for StreamCat/lakes (LakeCat)",
            "version": "1.0.0",
        },
    "servers": [{ "url": "https://api.epa.gov/StreamCat/lakes" }],
    "paths":
        {
            "/changelog":
                {
                    "get":
                        {
                            "description": "Retrieve records from LakeCat detailing changes made to DB / API",
                            "responses":
                                {
                                    "200":
                                        {
                                            "description": "The queried record.",
                                            "content":
                                                {
                                                    "application/json":
                                                        {
                                                            "schema":
                                                                {
                                                                    "type": "object",
                                                                    ? "properties"
                                                                    : {
                                                                          ? "items"
                                                                          : {
                                                                                "type": "array",
                                                                                ? "items"
                                                                                : {
                                                                                      "type": "object",
                                                                                      ? "properties"
                                                                                      : {
                                                                                            ? "date_updated"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/TIMESTAMP",
                                                                                              },
                                                                                            ? "public_description"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/CLOB",
                                                                                              },
                                                                                            ? "version"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/NUMBER",
                                                                                              },
                                                                                        },
                                                                                  },
                                                                            },
                                                                      },
                                                                },
                                                        },
                                                },
                                        },
                                },
                            "parameters": [],
                        },
                },
            "/datadictionary":
                {
                    "get":
                        {
                            "description": "Retrieve descriptive information for metrics",
                            "responses":
                                {
                                    "200":
                                        {
                                            "description": "The queried record.",
                                            "content":
                                                {
                                                    "application/json":
                                                        {
                                                            "schema":
                                                                {
                                                                    "type": "object",
                                                                    ? "properties"
                                                                    : {
                                                                          ? "items"
                                                                          : {
                                                                                "type": "array",
                                                                                ? "items"
                                                                                : {
                                                                                      "type": "object",
                                                                                      ? "properties"
                                                                                      : {
                                                                                            ? "metrics"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/VARCHAR2",
                                                                                              },
                                                                                            ? "metric_prefix"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/VARCHAR2",
                                                                                              },
                                                                                            ? "short_display_name"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/VARCHAR2",
                                                                                              },
                                                                                        },
                                                                                  },
                                                                            },
                                                                      },
                                                                },
                                                        },
                                                },
                                        },
                                },
                            "parameters": [],
                        },
                },
            "/metrics":
                {
                    "get":
                        {
                            "description": "Retrieve information on metric parameters",
                            "responses":
                                {
                                    "200":
                                        {
                                            "description": "The queried record.",
                                            "content":
                                                {
                                                    "application/json":
                                                        {
                                                            "schema":
                                                                {
                                                                    "type": "object",
                                                                    ? "properties"
                                                                    : {
                                                                          ? "items"
                                                                          : {
                                                                                "type": "array",
                                                                                ? "items"
                                                                                : {
                                                                                      "type": "object",
                                                                                      ? "properties"
                                                                                      : {
                                                                                            ? "aoi_param_info"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "areas_of_interest"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "comid"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "conus"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "countonly"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "county_options"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "county_param_info"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "documentation"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "name_options"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "name_param_info"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "region_options"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "region_param_info"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "showpctfull"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "state_options"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                            ? "state_param_info"
                                                                                            : {
                                                                                                  "$ref": "#/components/schemas/OTHER",
                                                                                              },
                                                                                        },
                                                                                  },
                                                                            },
                                                                      },
                                                                },
                                                        },
                                                },
                                        },
                                },
                            "parameters": [],
                        },
                    "post":
                        {
                            "description": "Use POST request to retrieve long records, similar to GET /metrics that are over the GET request length limit",
                            "responses":
                                {
                                    "201":
                                        {
                                            "description": "The successfully created record.",
                                            "content":
                                                {
                                                    "application/json":
                                                        {
                                                            "schema":
                                                                {
                                                                    "type": "object",
                                                                    ? "properties"
                                                                    : {
                                                                          "ret":
                                                                              {
                                                                                  "$ref": "#/components/schemas/RESULTSET",
                                                                              },
                                                                      },
                                                                },
                                                        },
                                                },
                                        },
                                },
                            "parameters":
                                [
                                    {
                                        "name": "aoi",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "comid",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "conus",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "countOnly",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "county",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "name",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": true,
                                    },
                                    {
                                        "name": "region",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "showAreaSqKm",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "showPctFull",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "showShape",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                    {
                                        "name": "state",
                                        "in": "header",
                                        "schema": { "type": "string" },
                                        "required": false,
                                    },
                                ],
                        },
                },
            "/variable_info":
                {
                    "get":
                        {
                            "description": "Retrieve a csv file of metric information from LakeCat",
                            "responses":
                                {
                                    "200":
                                        {
                                            "description": "The queried record.",
                                            "content":
                                                {
                                                    "text/csv":
                                                        {
                                                            "schema":
                                                                {
                                                                    "type": "object",
                                                                    ? "properties"
                                                                    : {},
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                },
        },
    "components":
        {
            "schemas":
                {
                    "CLOB": { "type": "string" },
                    "NUMBER": { "type": "number" },
                    "RESULTSET": { "type": "string" },
                    "STRING": { "type": "string" },
                    "TIMESTAMP":
                        {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^\\d{4}-[01]\\d-[0123]\\dT[012]\\d:[0-5]\\d:[0-5]\\d(.\\d+)?(Z|([-+][012]\\d:[0-5]\\d))$",
                        },
                    "VARCHAR2": { "type": "string" },
                    "LakeCat_ITEM":
                        {
                            "properties":
                                {
                                    "aoi": { "type": "string" },
                                    "comid": { "type": "string" },
                                    "conus": { "type": "string" },
                                    "countOnly": { "type": "string" },
                                    "county": { "type": "string" },
                                    "name": { "type": "string" },
                                    "region": { "type": "string" },
                                    "showAreaSqKm": { "type": "string" },
                                    "showPctFull": { "type": "string" },
                                    "showShape": { "type": "string" },
                                    "showshape": { "type": "string" },
                                    "state": { "type": "string" },
                                },
                        },
                },
        },
}
